@font-face {
  font-family: omnes-pro;
  src: url(https://use.typekit.net/af/570fe7/000000000000000000012863/21/l?subset_id=2&fvd=n4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/570fe7/000000000000000000012863/21/d?subset_id=2&fvd=n4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/570fe7/000000000000000000012863/21/a?subset_id=2&fvd=n4&v=3)
      format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: fallback; /* Define how the browser behaves during download https://css-tricks.com/almanac/properties/f/font-display/ */
}
@font-face {
  font-family: omnes-pro;
  src: url(https://use.typekit.net/af/894210/000000000000000000012861/21/l?subset_id=2&fvd=n3&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/894210/000000000000000000012861/21/d?subset_id=2&fvd=n3&v=3)
      format("woff"),
    url(https://use.typekit.net/af/894210/000000000000000000012861/21/a?subset_id=2&fvd=n3&v=3)
      format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: omnes-pro;
  src: url(https://use.typekit.net/af/44d911/000000000000000000012865/21/l?subset_id=2&fvd=n5&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/44d911/000000000000000000012865/21/d?subset_id=2&fvd=n5&v=3)
      format("woff"),
    url(https://use.typekit.net/af/44d911/000000000000000000012865/21/a?subset_id=2&fvd=n5&v=3)
      format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: source-code-pro;
  src: url(https://use.typekit.net/af/4bd05c/000000000000000000013297/21/l?subset_id=2&fvd=n4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/4bd05c/000000000000000000013297/21/d?subset_id=2&fvd=n4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/4bd05c/000000000000000000013297/21/a?subset_id=2&fvd=n4&v=3)
      format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
/* Extra small devices (portrait phones, less than 576px)*/
/* @media (max-width: 575.98px) { */
  body {
    margin: 40px auto;
    max-width: 90vh;
    line-height: 1.6;
    font-family: "omnes-pro", helvetica, sans-serif;
    color: #444;
    padding: 0 10px;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    font-size: 14px;
  }
  h1,
  h2,
  h3 {
    line-height: 1.2;
    color: #34343f;
  }
  h1 {
    font-weight: 600;
    line-height: 0.5;
    font-size: 60px;
    letter-spacing: -7px;
  }
  h2 {
    font-weight: 300;
    line-height: 1.25;
    border-left: 2px solid rgb(150, 150, 150);
    padding: 0 1em;
    font-size: 30px;
  }
  p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
  .thats_me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    flex-direction: column;
  }
  .my_photo {
    flex-grow: 1;
    height: 150px;
    width: 150px;
    overflow: hidden;
    background-image: url("../img/thatsme.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }
  .about_me {
    flex-grow: 4;
    height: auto;
    display: inline-block;
    width: 100%;
    padding-left: 0;
  }
  .bold {
    font-weight: bold;
  }
  .skills_tools {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .skills,
  .tools,
  .in_progress {
    width: 40%;
    flex-grow: 1;
  }
  .in_progress {
    color: rgba(68, 68, 68, 0.5);
  }
  ul {
    padding-inline-start: 20px;
  }
  a {
    color: rgb(150, 150, 150);
    border-bottom: 2px solid transparent;
    text-decoration: none;
    transition: all 0.8s ease-out;
    cursor: pointer;
    /*   border-bottom: 2px dotted #3bc492; */
    transform: rotate(-3deg);
    display: inline-block;
    position: relative;
  }
  a:active,
  a:visited {
    color: rgb(150, 150, 150);
    border-bottom: 2px solid transparent;
    text-decoration: none;
    cursor: pointer;
  }
  a:hover {
    border-bottom: 2px solid #3bc492;
    transform: rotate(3deg);
    display: inline-block;
    position: relative;
  }
  .footer {
    display: none;
  }
/* } */
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) /*and (max-width: 767.98px)*/ {
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 120px;
    letter-spacing: -14px;
  }
  h2 {
    font-size: 60px;
  }
  .thats_me {
    flex-direction: row;
  }
  .thats_me:hover .my_photo {
    /*     background-image: url('../img/thatsme3.jpg'); */
    -webkit-transform: scale(
      1.4
    ); /* Chrome 4+, Op 15+, Saf 3.1, iOS Saf 3.2+ */
    -moz-transform: scale(1.4); /* Fx 3.5-15 */
    -ms-transform: scale(1.4); /* IE 9 */
    -o-transform: scale(1.4); /* Op 10.5-12 */
    transform: scale(1.4); /* Fx 16+, IE 10+ */
  }
  .about_me {
    width: 70%;
    padding-left: 2em;
  }
  ul {
    padding-inline-start: 40px;
  }
  .footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
  }
  .circle_btn {
    position: absolute;
    bottom: -13vh;
    height: 15vh;
    width: 20vh;
    left: -10vh;
    text-align: center;
    font-weight: bolder;
    font-size: 15vh;
    color: #34343f7e;
    line-height: 15vh;
    background: rgba(68, 68, 68, 0.2);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    transition: 0.3s;
  }
  .circle_btn:hover {
    bottom: -10vh;
    background: rgba(68, 68, 68, 0.5);
  }
  #myBtn {
    display: none;
  }
  ::selection {
    color: #fff;
    background: #3bc492;
  }
}
/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) and (max-width: 991.98px) {
      h1,
      h2,
      h3,
      p,
      aside {
          transform: scale(0.7);
      }
      .my_photo { 
          transform: scale(0.9); 
          position: relative;
          left: 11vh;
      }
  } */
/* Large devices (desktops, 992px and up) */
/*@media (min-width: 992px) and (max-width: 1199.98px) {
}*/
/* Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
      
  } */
